.page-number {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 0 2px;
    border-radius: 3px;
}

.page-number.active {
    background-color:red;
    color: #fff;
    border-color: red;
}

.btn.btn-primary {
    margin-left: 10px;
}
.container-fluid {
    background-color: white;
    padding-left: red; /* Remove left padding */
    padding-right: red; /* Remove right padding */
    height: 100vh;
}
.button-primary {
    white-space: nowrap;
}